trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
  pythonVersion: "3.11"
  imageName: "demo-api"
  dockerfilePath: "Dockerfile"

pool:
  vmImage: "ubuntu-latest"

stages:
  - stage: Build_Test
    displayName: "Build + Test"
    jobs:
      - job: build_test
        displayName: "Python deps + basic tests"
        steps:
          - checkout: self

          - task: UsePythonVersion@0
            inputs:
              versionSpec: "$(pythonVersion)"
            displayName: "Use Python $(pythonVersion)"

          - script: |
              python -m pip install --upgrade pip
              pip install -r app/requirements.txt
            displayName: "Install dependencies"

          - script: |
              python -c "import flask; print('flask ok')"
            displayName: "Basic import test"

  - stage: Docker_Build
    displayName: "Docker Build"
    dependsOn: Build_Test
    jobs:
      - job: docker_build
        displayName: "Build Docker image"
        steps:
          - checkout: self

          - script: |
              docker build -t $(imageName):$(Build.BuildId) -f $(dockerfilePath) .
              docker images | head
            displayName: "Build Docker Image"
